<!DOCTYPE html>
<html ng-app="todo">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>To Do List</title>
	<!-- Bootstrap CSS -->
	<link
		rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
		integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
		crossorigin="anonymous"
	>
	<!-- ToDo CSS -->
	<link rel="stylesheet" href="todo.css">
	<!-- jQuery -->
	<script
		src="https://code.jquery.com/jquery-2.2.3.min.js"
		integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
		crossorigin="anonymous"
	></script>
	<!-- Bootstrap JS -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
		integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
		crossorigin="anonymous"
	></script>
	<!-- Moment JS -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
	<!-- Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	<!-- ToDo JS -->
	<script src="todo.js"></script>
</head>
<body ng-controller="ToDoController as vm">

<!-- New Task Modal -->
<div class="modal fade" id="new-task-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				New Task
				<button class="close" data-dismiss="modal">&times;</button>
			</div><!--.modal-header-->
			<form class="form">
				<div class="modal-body">
					<div class="form-group">
						<label for="task-name">Task</label>
						<input type="text" class="form-control" id="task-name" placeholder="New Task Name" ng-model="vm.newTask.name">
					</div>
					<div class="form-group">
						<label for="task-date">Due Date</label>
						<input type="date" class="form-control" id="task-date" ng-model="vm.newTask.date">
					</div>
					<div class="form-group">
						<label for="task-description">Description</label>
						<textarea rows="5" class="form-control" id="task-description" placeholder="New Task Description" ng-model="vm.newTask.description"></textarea>
					</div>
				</div><!--.modal-body-->
				<div class="modal-footer">
					<button type="button" class="btn btn-default" ng-click="vm.clearNew()">Clear</button>
					<button type="submit" class="btn btn-primary" ng-click="vm.addNew()" data-dismiss="modal">Create</button>
				</div><!--.modal-footer-->
			</form>
		</div><!--.modal-content-->
	</div><!--.modal-dialog-->
</div><!--.modal-->

<!-- To Do App -->
<div class="container">
	<h2>
		To Do List
		<button class="btn btn-primary" data-toggle="modal" data-target="#new-task-modal">New</button>
	</h2>
	<div class="row">
		<div class="col-md-6">
			<div class="form">
				<input type="text" class="form-control" ng-model="vm.search">
			</div>
		</div><!--.col-->
	</div><!--.row-->
	<div class="row">
		<div class="col-md-6">
			<h3>
				To Do
				<small>{{ vm.remaining }} remaining</small>
			</h3>
			<table class="table">
				<tr ng-repeat="task in vm.tasks | filter:{done:false} | filter:vm.search">
					<td class="col-md-1">
						<div class="status status-todo" ng-click="vm.done(task)"></div>
					</td>
					<td>
						<span class="task-name" ng-click="vm.detail(task)">
							{{ task.name }}
						</span>
					</td>
				</tr>
			</table>
			<h4>
				Done
				<button class="btn btn-danger btn-xs" ng-click="vm.clear()">Clear</button>
			</h4>
			<table class="table">
				<tr ng-repeat="task in vm.tasks | filter:{done:true} | filter:vm.search">
					<td class="col-md-1">
						<div class="status status-done" ng-click="vm.undone(task)"></div>
					</td>
					<td class="task-name" ng-click="vm.detail(task)"><s>{{ task.name }}<s></td>
				</tr>
			</table>
		</div><!--.col-->
		<div class="col-md-6" ng-if="vm.task.name">
			<h3>
				{{ vm.task.name }}
			</h3>
			<hr>
			<h5>Due Date</h5>
			<p class="lead">
				{{ vm.task.date }}
			</p>
			<h5>Description</h5>
			<p class="lead">
				{{ vm.task.description }}
			</p>
		</div><!--.col-->
	</div><!--.row-->
</div><!--.container-->
</body>
</html>