<div class="modal fade" id="new-task-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				New Task
				<button class="close" data-dismiss="modal">&times;</button>
			</div><!--.modal-header-->
			<form class="form">
				<div class="modal-body">
					<div class="form-group">
						<label for="task-name">Task</label>
						<input type="text" class="form-control" id="task-name" placeholder="New Task Name" ng-model="vm.newTask.name">
					</div>
					<div class="form-group">
						<label for="task-date">Due Date</label>
						<input type="date" class="form-control" id="task-date" ng-model="vm.newTask.date">
					</div>
					<div class="form-group">
						<label for="task-description">Description</label>
						<textarea rows="5" class="form-control" id="task-description" placeholder="New Task Description" ng-model="vm.newTask.description"></textarea>
					</div>
				</div><!--.modal-body-->
				<div class="modal-footer">
					<button type="button" class="btn btn-default" ng-click="vm.clearNew()">Clear</button>
					<button type="submit" class="btn btn-primary" ng-click="vm.addNew()" data-dismiss="modal">Create</button>
				</div><!--.modal-footer-->
			</form>
		</div><!--.modal-content-->
	</div><!--.modal-dialog-->
</div><!--.modal-->