body {
	font-size: 12pt;
}

h4 {
	color: #aaa;
}

tr {
	font-size: 1.3em;
}

.task-name:hover {
	cursor: pointer;
	color: #999;
}
.task-name s {
	color: #999;
	font-size: .9em;
	line-height: .9em;
}

.status {
	width: 1.4em;
	height: 1.4em;
	margin: 0 auto;
	background-size: cover;
}
.status:hover {
	cursor: pointer;
}

.status-todo {
	background-image: url('todo.svg');
}
.status-todo:hover {
	background-image: url('done.svg');
}

.status-done {
	background-image: url('done.svg');
}
.status-done:hover {
	background-image: url('todo.svg');
}