body {
	font-size: 2.1em;
}
.status {
	width: 1.4em;
	height: 1.4em;
	margin: 0 auto;
	background-size: cover;
}

.status-todo {
	background-image: url('todo.svg');
}

.status-done {
	background-image: url('done.svg');
}